<p>
  <% if current_user.facebook_token %>
    
      <input type="button"
      onclick="sendRequestViaMultiFriendSelector(); return false;"
      value="Send Request to Many Users with MFS"
      />

  <% else  %>

      You need to logon to invite friends.

      <%= link_to "Click Here!", "/auth/facebook" %>

  <% end %>
</p>

<script>

  function sendRequestViaMultiFriendSelector() {
    FB.ui({method: 'apprequests',
      message: 'My Great Request',
      title: 'Testando',
      redirect_uri: 'http://<%=request.host_with_port%>/users/sign_up'
    }, requestCallback);
  }
  
  function requestCallback(response) {
    // Handle callback here
  }
</script>
