<p>
<input type="button"
  onclick="sendRequestViaMultiFriendSelector(); return false;"
  value="Send Request to Many Users with MFS"
/>
</p>

<script>

  function sendRequestViaMultiFriendSelector() {
    FB.ui({method: 'apprequests',
      message: 'My Great Request',
      title: 'Testando',
      redirect_uri: 'http://<%=request.host_with_port%>/users/sign_up'
    }, requestCallback);
  }
  
  function requestCallback(response) {
    // Handle callback here
  }
</script>
